/* *{
    padding : 0;
    margin: 0;
} */

p{
    text-indent: 30%;
    margin-bottom: 10px;
}

p.Hello{
    text-indent: 90%;
    color: brown;
}
.practice{
    color: brown;
}

.forme{
    margin-top: 50px;
}